@model List<QureryModelLibrary>

<a class="btn btn-dark"asp-area=""asp-controller="LibararyController"asp-action="AddMember">ایجاد</a>

<table class="table table-hover bg-danger">
     <tr>
        <th>ردیف</th>
        <th>نام کتاب خانه</th>
         <th>شهر کتاب خانه</th>
        <th>آدرس کتاب خانه</th>
        <th>شناسه کتاب</th>
        <th>نام کتاب</th>
        <th>نویسنده کتاب</th>
         <th>تعداد موجودی کتاب</th>
        <th>عملیات</th>
    </tr>
 
    @foreach(var item in Model)
 {     
    <tr>
        <th>@item.id</th>
        <th>@item.LibraryName</th>
        <th>@item.LibraryCity</th>
        <th>@item.LibraryAddress</th>
        <th>@item.BookId</th>
        <th>@item.BookName</th>
        <th>@item.Writer</th>
        <th>@item.CountBook</th>
        <th>
           <a class="btn btn-info" asp-area="" asp-controller="Libarary"asp-action="Detail"asp-route-id="@item.BookId" >مشاهده</a>
            <a class="btn btn-warning" asp-area=""asp-controller="Libarary"asp-action="Edit"asp-route-id="@item.BookId">ویرایش</a>
            <a class="btn btn-dark"asp-area=""asp-controller="Libarary"asp-action="Delete"asp-route-id="@item.BookId">حذف</a>
        </th>
    </tr>
}
</table>

